
.website{
    display: flex;
    flex-direction: column;
    color: $textColor;
    background: rgb(255,255,255);
    background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(255,244,244,1) 84.51%);
}

.desktop_bg{
    display: none;
}

//! /////////////////// MB VERSION ///////////////////////////

//* ///////////////////BRAND CONTAINER /////////////////////

.brand_container{
    order: 1;
    margin: 2rem 2rem;
}

//* ///////////////////CONTENT CONTAINER /////////////////////

.content_container{
    order: 3;
    padding: 0 2rem;
    margin-bottom: 2.5rem;
    
    h1{
        margin-bottom: 1rem;
        text-align: center;
        font-size: 40px;
        line-height: 1.05;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 10px;
        color: $titleColor;

        span{
            font-weight: 300;
            color: $textColor;
        }
    }

    .text_content{
        margin-bottom: 2rem;
        text-align: center;
        font-size: 14px;
        line-height: 1.57;
    }

    .email_catcher{
        position: relative;

        input{
            display: block;
            width: 100%;
            padding: .7rem 1.5rem;
            color: rgba(66, 58, 58, 1);

            &::placeholder{
                font-size: 14px;
                color: $textColor;
            }
        }

        // input:invalid{
        //     border: solid 2px $errorColor;
        // }

        .btn_validate{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 7px 1.5rem;
            background: $linearColor;
            border: solid 1px $textColor;
            border-radius: 28px;
            box-shadow: 0 15px 20px 0 rgba(198, 110, 110, 0.24);
        }

        .error_svg{
            position: absolute;
            right: 0;
            top: 50%;
            margin-right: 4rem;
            transform: translate(-50%,-50%);
            opacity: 1;
        }
    }

    .error_text {
        margin: .5rem 0 0 1.6rem;
        font-size: 13px;
        opacity: 1;
        color: $errorColor;
    }
}

//* ///////////////////IMG CONTAINER /////////////////////

.img_container{
    order: 2;
    margin-bottom: 2rem;
}

//! ////////////////// MEDIA QUERIES (DESKTOP) //////////////////////

@media only screen and (min-width: 600px){
    .content_container{
        max-width: 600px;
        margin: 0 auto 2rem auto;
    }
    
    .img_container{
        height: 400px;
        overflow: hidden;
    }
}

@media only screen and (min-width: 1050px){
    body{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .website{
        max-width: 1000px;
        height: 600px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 20% 80%;
        box-shadow: 0 0 20px 0 rgb(156, 156, 156);
    }

    .brand_container{
        margin: 2.5rem auto 0 5rem;
    }

    .content_container{
        max-width: 425px;
        margin: 1.5rem 6.5rem 0 5rem;
        padding: 0;

        h1{
            font-size: 3.5rem;
            text-align: left;
        }

        .text_content{
            font-size: 0.975rem;
            text-align: left;
        }
    }
}

@media only screen and (min-width: 1460px){
    
    .website{
        max-width: 1440px;
        height: 800px;
        grid-template-columns: 2fr auto;
    }

    .brand_container{
        margin: 4.5rem auto 0 10rem;
    }

    .content_container{
        max-width: 450px;
        margin: 5rem 13.75rem 0 10rem;

        h1{
            font-size: 4rem;
        }

        .text_content{
            font-size: 1rem;
        }

        .email_catcher{
    
            input{
                font-size: 1rem;
                padding: 1rem 2rem;
            }

            .btn_validate{
                padding: 12px 2rem;
            }

            .error_svg{
                margin-right: 5rem;
            }
        }

        .error_text{
            margin-left: 2.2rem;
            font-size: 0.875rem;
        }
    }

    .img_container{
        max-width: 610px;
        height: auto;
        overflow: visible;
    }
}
